*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
*.lib
*.opendb
*.db
*.ipch
*.bat
inputlogging_test/.vs/
inputlogging_test/x64/
inputlogging_test/Debug/
inputlogging_test/Release/
inputlogging_test/inputlogging_test/Debug/
inputlogging_test/inputlogging_test/Release//
inputlogging_test/inputlogging_test/x64/
keylogging_dll/.vs/
keylogging_dll/x64/
keylogging_dll/Debug/
keylogging_dll/Release/
keylogging_dll/keylogging_dll/Debug/
keylogging_dll/keylogging_dll/Release//
keylogging_dll/keylogging_dll/x64/
keylogger_loader/.vs/
keylogger_loader/x64/
keylogger_loader/Debug/
keylogger_loader/Release/
keylogger_loader/keylogger_loader/Debug/
keylogger_loader/keylogger_loader/Release/
keylogger_loader/keylogger_loader/x64/